*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.nav-bar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav-bar nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav-bar nav ul li{
    float: left;
}

.nav-bar nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2em;
}

.nav-bar nav ul li a:hover {
    background-color: #111;
    color: lightslategray;
}

.index-body {
    padding: 2em;
    padding-top: 4em;
}

/*
body{
    background-color: rgb(16, 12, 80);
}